header {
    position: relative;
    z-index: 9999;

    .hdr-bottom {
        .navbar {
            background: #065147;
            border: none;
            margin-bottom: 0;
            border-radius: 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    header {
        .hdr-top {
            background-color: #065147;
            color: #fff;
            @include os-b;
            height: 75px;
            display: flex;
            align-items: center;
            border-bottom: 10px solid #ffc842;

            .dept-top-title {
                font-size: 14px;
            }

            .search-container {
                form.search-form {
                    position: relative;
                    overflow: hidden;
                }

                input[type="search"] {
                    background: #fff;
                    @include os-r;
                    border-radius: 25px;
                    border: none;
                    box-shadow: none;
                    color: #222;
                    width: 240px;
                }

                input[type="submit"] {
                    position: absolute;
                    top: 3px;
                    right: 5px;
                    background: transparent;
                    color: #065147;
                    border: none;
                    border-left: 1px solid #065147;
                }
            }
        }

        .hdr-middle {
            font-family: 'alright-medium';
            padding: 2rem 0;
            display: block;

            .logo-title {
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .logox {
                    max-width: 150px;
                    height: auto;
                    width: 100%;
                }

                .line {
                    width: 2px;
                    background: #b7b7b7;
                    height: 100px;
                    margin: 0 30px;
                }

                .dept-title {
                    .navbar-brand {
                        white-space: normal;
                    }

                    h1 {
                        padding-top: 0;
                        margin-top: 0;

                        a {
                            font-size: 2rem;
                            color: #10463e;
                            text-decoration: none;
                        }
                    }

                    h3 {
                        font-size: 2rem;
                        padding-bottom: 0;
                        margin-bottom: 10px;
                        color: #7a7a7a;
                        letter-spacing: -.15px;
                    }
                }
            }
        }

        .hdr-bottom {
            .navbar-surgery {
                .navbar-nav .nav-link {
                    padding: 20px 15px 20px;
                    display: block;
                    text-decoration: none;
                    color: #222;
                    font-family: 'alright-medium';
                    font-size: 1.4rem;
                }

                .navbar-nav > .active > a,
                .navbar-nav > .active > a:focus,
                .navbar-nav > .active > a:hover,
                .navbar-nav > li > a:focus,
                .navbar-nav > li > a:hover {
                    background-color: $green;
                    color: #fff;
                }
            }
        }
    }
}
