.btn-xlg {
    padding-left: 35px;
    padding-right: 35px;
}

@media (min-width: 768px) {
    .main-content .btn-xlg {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.btn-yellow,
.btn-bright-yellow,
.btn-white,
.btn-dark-white,
.btn-green,
.btn-dark-green {
    @include btn-base;
    border: none;
    border-bottom: 3px solid #c0c0c0;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        font-size: 1.5rem;
    }
}


/* BUTTON: YELLOW & BRIGHT YELLOW */

.btn-yellow,
.btn-bright-yellow {
    background: #e5bd5c;
    color: #333 !important;

    &:hover,
    &:active,
    &.selected {
        background: #fff;
    }
}

.btn-bright-yellow {
    background: #f1c250;
}


/* BUTTON: WHITE */

.btn-white,
.btn-dark-white {
    background: #fff;
    color: #222 !important;

    &:hover,
    &:active,
    &.selected {
        background: #e5bd5c;
    }
}


/* BUTTON: DARK WHITE */

.btn-dark-white {
    background: #eeeeee;
    color: #333 !important;

    &:hover,
    &:active,
    &.selected {
        background: #ddd;
    }
}


/* BUTTON: GREEN */

.btn-green,
.btn-dark-green {
    background: #00584d;
    color: #fff !important;

    &:hover,
    &:active,
    &.selected {
        background: darken(#00584d, 2%);
    }
}
