.home .surg-content {
    padding-top: 0;
}

.main-content {
    section:not(.dept-events),
    section.dept-events>.event {
        border-bottom: 1px solid #b7b7b7;
    }
    .chairman-msg,
    .featured-resident,
    .dept-events {
        text-align: center;
        .picture {
            margin: 15px 0;
            /*max-width: 170px;*/
        }
    }
    .chairman-msg,
    .featured-resident {
        padding-bottom: 30px;
    }
    .featured-resident {
        .name {
            margin: 0;
            color: #f5c245;
            display: inline-block;
            font-size: 30px;
            text-indent: 30px;
            margin-bottom: 15px;
        }
    }
    .dept-events {
        margin: 20px 0;
        .event:nth-last-child(2) {
            margin-bottom: 30px;
        }
        .event {
            overflow: hidden;
            padding: 25px 0;
            .event-image {
                /*overflow: hidden;*/
                .outline {
                    border: 6px solid #777;
                    border-radius: 50%;
                    overflow: hidden;
                    /*height: 124px;*/
                    max-width: 130px;
                    margin: 0 auto;
                    img.default-post-icon {
                        margin-top: 20%;
                        margin-left: -6px;
                        /*width: 140px;*/
                        max-width: 110%;
                        padding-bottom: 10%;
                    }
                }
            }
            .meta {
                h2 {
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    font-family: 'alright-bold';
                    letter-spacing: 1.4px;
                    margin-bottom: 5px;
                    line-height: 1.5;
                    a.event-title {
                        color: #287269;
                        text-decoration: none;
                    }
                }
                span {
                    font-size: 1.6rem;
                }
            }
        }
    }
}




/* Contact Us
* Needs Work
 */

.sb-contact-container {
    padding-right: 40px;
    color: #333;
    padding-bottom: 20px;
    /*Fix this */
    .sb-contact {
        background: #f1c250;
        padding: 20px 15px 30px;
        h2 {
            color: #fff;
        }
    }
}

#form-main-contact {
    input,
    textarea {
        width: 100%;
        background: #ebebeb;
        border: none;
        padding: 10px;
        padding-left: 20px;
        color: #292929;
        margin: 0 0 25px;
        &::-webkit-input-placeholder {
            color: #292929;
        }
        &::-moz-placeholder {
            color: #292929;
        }
        &:-ms-input-placeholder {
            color: #292929;
        }
        &:-moz-placeholder {
            color: #292929;
        }
    }
    textarea {
        height: 275px;
    }
}


/* TABLET */

@media only screen and (min-width: 768px) {
    .main-content {
        .chairman-msg,
        .featured-resident,
        .dept-events {
            text-align: left;
        }
        .featured-resident,
        .chairman-msg {
            .picture {
                float: right;
                margin-left: 15px;
            }
        }
    }
}


/* Desktop */

@media (min-width: 1000px) {
    .main-content {
        .dept-events {
            display: block;
            .event {
                .outline {
                    max-width: 115px !important;
                }
                .meta {
                    text-align: left;
                    h2 {
                        font-size: 1.8rem;
                        letter-spacing: 1.4px;
                        margin-bottom: 5px;
                        line-height: 1.5;
                        a.event-title {}
                    }
                    span {
                        font-size: 1.7rem;
                    }
                }
            }
            .dept-events-footer {
                text-align: right;
            }
        }
    }
}

@media (min-width: 93.75em) {
    .main-content {
        .featured-resident,
        .chairman-msg {
            .picture {
                margin-left: 25px;
            }
        }
    }
    .sidebar-home {
        .dept-info,
        .dept-twitter {
            margin-right: 40px;
        }
    }
}